.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box{
  border: 1px solid black;
  height: 159px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.board-container{
  margin-inline: 30rem;
  margin-top: 8rem;
}